<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
{% include "partials/head.njk" %}
<body class="post-template-default single single-post postid-{{ post_id }} single-format-standard group-blog">
<a class="skip-link" href="./#content">
Перейти к основному содержанию
</a>
<div id="page" class="site">
{% if lang == "uk-UA" %}{% include "partials/header-uk.njk" %}{% else %}{% include "partials/header.njk" %}{% endif %}
<div class="container"><div id="content" class="site-content"><div id="crumbs"><a href="../">Главная</a> <span class="separator">&gt;</span> <a href="../category/{{ category_slug }}/">{{ category_title }}</a> <span class="separator">&gt;</span> <span class="current">{{ title | safe }}</span></div>
<div id="primary" class="content-area">
{% if post_id == 645 %}{% include "partials/recipe-schema-marshmallow.njk" %}{% endif %}
<main id="main" class="site-main">
{{ content | safe }}
{% set autoNav = postNavigation | postNavigationFor(lang, page.url, collections.all) %}<nav class="navigation post-navigation" role="navigation">
<h2 class="screen-reader-text">Post navigation</h2>
<div class="nav-links">{% if autoNav.prev %}<div class="nav-previous"><a href="{{ autoNav.prev.url }}" rel="prev">{{ autoNav.prev.title | safe }}</a></div>{% elif prev_url %}<div class="nav-previous"><a href="{{ prev_url }}" rel="prev">{{ prev_title | safe }}</a></div>{% endif %}{% if autoNav.next %}<div class="nav-next"><a href="{{ autoNav.next.url }}" rel="next">{{ autoNav.next.title | safe }}</a></div>{% elif next_url %}<div class="nav-next"><a href="{{ next_url }}" rel="next">{{ next_title | safe }}</a></div>{% endif %}</div>
</nav>
</main>
</div>
{% include "partials/sidebar.njk" %}
</div>
</div>
{% if lang == "uk-UA" %}{% include "partials/footer-uk.njk" %}{% else %}{% include "partials/footer.njk" %}{% endif %}
</div>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/tab.js'></script>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/sameheight.js'></script>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/jquery.sidr.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var bakes_and_cakes_data = {"auto":"1","loop":"1","pager":"1","animation":"slide","speed":"7000","a_speed":"600"};
/* ]]> */
</script>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/custom.js'></script>
<script type='text/javascript' src='../wp-includes/js/wp-embed.min.js'></script>
</body>
</html>
