<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
{% include "partials/head.njk" %}
<body class="archive category category-{{ category_slug }} category-{{ category_id }} group-blog hfeed">
<a class="skip-link" href="#content">Перейти до основного матеріалу</a>
<div id="page" class="site">
{% include "partials/header.njk" %}
<div class="container"><div id="content" class="site-content"><div id="crumbs"><a href="../../">Головна</a> <span class="separator">&gt;</span> <span class="current">{{ title | safe }}</span></div>
<div id="primary" class="content-area">
<main id="main" class="site-main">
{{ content | safe }}
</main>
</div>
<aside id="secondary" class="widget-area">
<div id="search-2" class="widget widget_search"><form role="search" method="get" class="search-form" action="../../">
<label>
<span class="screen-reader-text">Пошук:</span>
<input type="search" class="search-field" placeholder="Пошук &hellip;" value="" name="s" />
</label>
<input type="submit" class="search-submit" value="Знайти" />
</form></div>		<div id="recent-posts-2" class="widget widget_recent_entries">		<h3 class="widget-title">Останні статті</h3>		<ul>
<li>
<a href="../../kak-ukrasit-tort-na-den-rozhdeniya-muzhu/">Як прикрасити торт на день народження чоловіку: смокінг з краваткою-метеликом з мастики</a>
</li>
<li>
<a href="../../korporativnyi-tort-na-novyi-god-3-gotovye-idei/">Майстер-клас: корпоративний торт на Новий рік &#8211; 3 готові ідеї</a>
</li>
<li>
<a href="../../kak-ukrasit-tort-na-novyi-god-v-domashnih-usloviyah/">Як прикрасити торт на Новий рік в домашніх умовах: фігурки сніговиків і проста ялинка</a>
</li>
<li>
<a href="../../kak-ukrasit-tort-na-1-sentyabrya/">Як прикрасити торт на 1 вересня &#8211; фото і відео</a>
</li>
<li>
<a href="../../kak-sdelat-mramornuyu-mastiku/">Як зробити мармурову мастику</a>
</li>
</ul>
</div></aside>
</div></div>
<footer id="colophon" class="site-footer">
<div class="container">
<div class="site-info d-flex">
<div class="copyright">
<span>
&copy;2026                <a href="../../">Тортопедія</a>.
Всі права захищені.			</span>
</div>
<div class="sitemap-of-site d-flex">
<a href="../../html-sitemap/">Карта сайту</a>		</div>
</div>
</div>
</footer>
</div>
<script type='text/javascript' src='../../../wp-content/themes/bakes-and-cakes/js/tab.js'></script>
<script type='text/javascript' src='../../../wp-content/themes/bakes-and-cakes/js/sameheight.js'></script>
<script type='text/javascript' src='../../../wp-content/themes/bakes-and-cakes/js/jquery.sidr.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var bakes_and_cakes_data = {"auto":"1","loop":"1","pager":"1","animation":"slide","speed":"7000","a_speed":"600"};
/* ]]> */
</script>
<script type='text/javascript' src='../../../wp-content/themes/bakes-and-cakes/js/custom.js'></script>
<script type='text/javascript' src='../../../wp-includes/js/wp-embed.min.js'></script>
</body>
</html>
