<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
{% include "partials/head.njk" %}
<body class="archive category category-{{ category_slug }} category-{{ category_id }} group-blog hfeed">
<a class="skip-link" href="#content">Перейти к основному содержанию</a>
<div id="page" class="site">
{% include "partials/header.njk" %}
<div class="container"><div id="content" class="site-content"><div id="crumbs"><a href="../../">Главная</a> <span class="separator">&gt;</span> <span class="current">{{ title | safe }}</span></div>
<div id="primary" class="content-area">
<main id="main" class="site-main">
<header class="page-header">
<h1 class="page-title">{{ title | safe }}</h1>
</header>
{% set categoryArticles = collections.all | categoryArticlesFor(category_slug, lang) %}
{% for item in categoryArticles %}
<article id="post-{{ item.data.post_id }}" class="post-{{ item.data.post_id }} post type-post status-publish format-standard has-post-thumbnail hentry category-{{ category_slug }}">
<a href="{{ item.url }}" class="post-thumbnail"><img width="{{ item.data.image_width }}" height="{{ item.data.image_height }}" src="{{ item.data.image_src | rootImagePath }}" class="attachment-bakes-and-cakes-image size-bakes-and-cakes-image wp-post-image" alt="{{ item.data.image_alt }}"></a>
<div class="text-holder">
<header class="entry-header">
<h2 class="entry-title"><a href="{{ item.url }}" rel="bookmark">{{ item.data.title | safe }}</a></h2>
</header>
<div class="entry-content"></div>
<footer class="entry-footer">
<a href="{{ item.url }}" class="readmore">Читать далее</a>
</footer>
</div>
</article>
{% endfor %}
{{ content | safe }}
</main>
</div>
{% include "partials/sidebar.njk" %}
</div></div>
<footer id="colophon" class="site-footer">
<div class="container">
<div class="site-info d-flex">
<div class="copyright">
<span>
&copy;2026                <a href="../../">Тортопедия</a>.
Все права защищены.			</span>
</div>
<div class="sitemap-of-site d-flex">
<a href="../../html-sitemap/">Карта сайта</a>		</div>
</div>
</div>
</footer>
</div>
<script type='text/javascript' src='../../wp-content/themes/bakes-and-cakes/js/tab.js'></script>
<script type='text/javascript' src='../../wp-content/themes/bakes-and-cakes/js/sameheight.js'></script>
<script type='text/javascript' src='../../wp-content/themes/bakes-and-cakes/js/jquery.sidr.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var bakes_and_cakes_data = {"auto":"1","loop":"1","pager":"1","animation":"slide","speed":"7000","a_speed":"600"};
/* ]]> */
</script>
<script type='text/javascript' src='../../wp-content/themes/bakes-and-cakes/js/custom.js'></script>
<script type='text/javascript' src='../../wp-includes/js/wp-embed.min.js'></script>
</body>
</html>
