<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
{% include "partials/head.njk" %}
<body class="home page-template page-template-template-home page-template-template-home-php page page-id-2 group-blog full-width">
<a class="skip-link" href="#content">Перейти до основного матеріалу</a>
<div id="page" class="site">
{% include "partials/header-uk.njk" %}
{{ content | safe }}
<footer id="colophon" class="site-footer">
<div class="container">
<div class="site-info d-flex">
<div class="copyright">
<span>
&copy;2026                <a href="./">Тортопедія</a>.
Всі права захищені.			</span>
</div>
<div class="sitemap-of-site d-flex">
<a href="html-sitemap/">Карта сайту</a>		</div>
</div>
</div>
</footer>
</div>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/lightslider.js'></script>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/tab.js'></script>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/sameheight.js'></script>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/jquery.sidr.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var bakes_and_cakes_data = {"auto":"1","loop":"1","pager":"1","animation":"slide","speed":"7000","a_speed":"600"};
/* ]]> */
</script>
<script type='text/javascript' src='../wp-content/themes/bakes-and-cakes/js/custom.js'></script>
<script type='text/javascript' src='../wp-includes/js/wp-embed.min.js'></script>
</body>
</html>
