---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if item.url and item.url != "/sitemap.xml" %}
  <url>
    <loc>https://tortopedia.in.ua{{ item.url }}</loc>
{%- if item.data.updated %}
    <lastmod>{{ item.data.updated | sitemapDate }}</lastmod>
{%- elif item.data.published %}
    <lastmod>{{ item.data.published | sitemapDate }}</lastmod>
{%- endif %}
  </url>
{%- endif %}
{%- endfor %}
</urlset>
