<footer id="colophon" class="site-footer">
		
		<div class="container">

			  <div class="site-info d-flex"> 
    <div class="copyright">
      <span>
        &copy;2026                <a href="../">Тортопедія</a>.
        Всі права захищені.			</span>
</div>
    <div class="sitemap-of-site d-flex">
      <a href="../html-sitemap/">Карта сайту</a>		</div>
</div>
  		
		</div>
	
	</footer>