<header id="masthead" class="site-header"><div class="header-t">
          <div class="container">
            <div class="site-branding">
                                              
                <h2 class="site-title"><a href="../" rel="home">Тортопедія</a></h2>
                
                                <p class="site-description">
                  Перша онлайн-енциклопедія прикрашання тортів з фото і відео								</p>
                						</div>
						<div id="mobile-header">
							<a id="responsive-menu-button" href="./#sidr-main">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
						</div>
					</div>
				</div>
        
        <nav id="site-navigation" class="main-navigation">
          <div class="menu-menu-main-container"><ul id="primary-menu" class="menu"><li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-84"><a href="../">Головна сторінка</a></li>
<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-87"><a href="../mastic-decoration/">Прикрашання мастикою</a>
<ul class="sub-menu">
	<li id="menu-item-390" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-390"><a href="../category/uroki-lepki/">Уроки ліплення</a></li>
	<li id="menu-item-160" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-160"><a href="../category/vse-o-mastike/">Все про мастику</a></li>
	<li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156"><a href="./#">Торти на свята</a></li>
	<li id="menu-item-157" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-157"><a href="./#">Що почитати</a></li>
	<li id="menu-item-158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-158"><a href="./#">Трафарети</a></li>
	<li id="menu-item-159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159"><a href="./#">Ідеї ​​та натхнення</a></li>
</ul>
</li>
<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="../about/">Про Тортопедію</a></li>
<li id="menu-item-9999999999" class="menu-item menu-item-type-custom menu-item-object-custom menu_item_wpglobus_menu_switch wpglobus-selector-link wpglobus-current-language menu-item-9999999999"><a href="./"><span class="wpglobus_flag wpglobus_language_name wpglobus_flag_uk">uk</span></a>
<ul class="sub-menu">
	<li id="menu-item-wpglobus_menu_switch_ru" class="menu-item menu-item-type-custom menu-item-object-custom sub_menu_item_wpglobus_menu_switch wpglobus-selector-link menu-item-wpglobus_menu_switch_ru"><a href="../../kakaya-mastika-luchshe-dlya-obtyazhki-torta/"><span class="wpglobus_flag wpglobus_language_name wpglobus_flag_ru">ru</span></a></li>
</ul>
</li>
</ul></div>				</nav>
			</header>