<div class="micro-data-hidden" itemscope itemtype="http://schema.org/Recipe">
	  <span itemprop="name">Рецепт мастики з маршмеллоу солов'їною</span>
	  By <span itemprop="author">Tortopedia</span>,
	  <meta itemprop="datePublished" content="2018-02-23">Лютий 23, 2018
	  <img itemprop="image" src="../../wp-content/uploads/2018/02/DSC_1392blog-750x400.webp"
		alt="Рецепт мастики з маршмеллоу покроково" />
	  <span itemprop="description">Багато ласунів хочуть дізнатися найпростіший і найзрозуміліший рецепт мастики з маршмеллоу. Їм ми і поділимося в цій статті. Ласуни відзначають, що цей кондитерський виріб є не таким солодким, як цукрова паста, виготовлена з інших компонентів.</span>
	  <meta itemprop="prepTime" content="PT30M">
	  <meta itemprop="cookTime" content="PT1H">
	  <span itemprop="recipeYield">0.5 kg</span>
	  <link itemprop="suitableForDiet" href="http://schema.org/LowFatDiet" />
	  <div itemprop="nutrition"
		itemscope itemtype="http://schema.org/NutritionInformation">
	    Харчова цінність:
	    <span itemprop="calories">393 кілокалорії</span>,
	    <span itemprop="fatContent">5г жиру</span>
		</div>
	  Ingredients:
	  - <span itemprop="recipeIngredient">1 упаковка ніжних повітряних зефіринок (найчастіше 90 грам)</span>
	  - <span itemprop="recipeIngredient">1 склянка цукрової пудри</span>
	  - <span itemprop="recipeIngredient">½ склянки картопляного або кукурудзяного крохмалю</span>
	  - <span itemprop="recipeIngredient">1 ст. ложка молока або лимонного соку</span>
	  - <span itemprop="recipeIngredient">1 ч.л. вершкового масла</span>
	  - <span itemprop="recipeIngredient">за бажанням харчовий барвник (сухий або гелевий)</span>
	  ...
	  Instructions:
	  <span itemprop="recipeInstructions">
			Мастика з маршмеллоу своїми руками готується за 3 кроки.
			Етап 1.
			Просіювання сухих компонентів для мастики з маршмеллоу
			Просіювання.
			Щоб готовий кондитерській виріб не порвався, слід відсіяти за допомогою сита або органзи всі великі крупинки з сипучих компонентів.
			Етап 2.
			Плавлення маршмеллоу для мастики
			Розтоплюємо зефір. Це можна зробити за допомогою мікрохвильової печі або водяної бані. Цукерки повинні збільшитися в обсязі майже в два рази.
			Варіант 1. Мікрохвильова піч.
			Плавлення маршмеллоу в мікрохвильовці
			Викладіть суфле і 1 чайну ложку вершкового масла в ємність для розігріву, виставте таймер на 40 секунд (в залежності від моделі може знадобитися більше).
			Варіант 2. Водяна баня.
			Плавлення маршмеллоу для мастики на водяній бані
			Якщо суфле великого розміру, наріжте його на невеликі шматочки, разом з 1 чайною ложкою вершкового масла покладіть в миску, яку можна зручно встановити на каструлю з киплячою водою. Топіть зефірну масу близько 15 хвилин і безперервно її помішуйте. Коли суфле повністю розтане, зніміть його з вогню.
			Важливо!
			Уважно стежте за консистенцією цукерок: якщо їх перетопити, утворяться грудочки, і в подальшому суміш стане непридатною для виготовлення якісних фігурок.
			Етап 3.
			Додавання лимона до маршмеллоу для мастики
			Додайте до розтопленої рідині столову ложку молока або ж лимонного соку. Ретельно перемішайте. За бажанням використайте харчові барвники.
			Додавання до маршмеллоу сухих компонентів для мастики
			Акуратно введіть в масу просіяний крохмаль і цукровий пісок (додавайте по черзі), поки не досягнете пластичності. Перемішайте лопаткою, після охолодження можна приступити до вимішування руками.
			Мастика з маршмеллоу з крохмалем готова.
		</span>
		<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
			Rated <span itemprop="ratingValue">5</span>/5
			based on <span itemprop="reviewCount">1</span> customer reviews
		</div>
		<meta itemprop="keywords" content="мастика, рецепт, маршмеллоу">
		<meta itemprop="recipeCategory" content="украшение тортов">
		<meta itemprop="recipeCuisine" content="american">
		<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<h2>Video: <span itemprop="name">Мастика из Маршмеллоу. Домашняя Мастика</span></h2>
			<meta itemprop="duration" content="T8M53S" />
			<meta itemprop="thumbnailUrl" content="https://img.youtube.com/vi/stPcXsvYvbQ/hqdefault.jpg" />
			<meta itemprop="uploadDate" content="2018-02-23" />
			<object data="https://www.youtube.com/watch?v=stPcXsvYvbQ" type="application/x-shockwave-flash">
				<embed type="application/x-shockwave-flash">
			</object>
			<span itemprop="description">
				Маршмеллоу-200 гр
				Сах.пудра-200 гр
				Крохмаль-200 гр
				Масло вершк.-2 ст.л
			</span>
		</div>
	  1 comments:
	  <div itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
	    <meta itemprop="interactionType" content="http://schema.org/CommentAction" />
	    <meta itemprop="userInteractionCount" content="1" />
		</div>
	  From Janel, May 5 -- thank you, great recipe!
	  ...
	</div>