<aside id="secondary" class="widget-area">
<div id="search-2" class="widget widget_search">
<form role="search" method="get" class="search-form" action="/uk/">
<label>
<span class="screen-reader-text">Пошук:</span>
<input type="search" class="search-field" placeholder="Пошук &hellip;" value="" name="s" />
</label>
<input type="submit" class="search-submit" value="Знайти" />
</form>
</div>

<div id="recent-posts-2" class="widget widget_recent_entries">
<h3 class="widget-title">Останні статті</h3>
<ul>
<li>
<a href="/uk/yak-zberigaty-fihurky-z-mastyky/">Як зберігати фігурки з мастики</a>
</li>
<li>
<a href="/uk/yak-zberigaty-mastyku-dlya-torta/">Як зберігати мастику для торта</a>
</li>
<li>
<a href="/uk/yak-pratsuvaty-z-mastykoyu-dlya-torta/">Як працювати з мастикою для торта: інструкція для початківців</a>
</li>
<li>
<a href="/uk/kak-ukrasit-tort-na-den-rozhdeniya-muzhu/">Як прикрасити торт на день народження чоловіку: смокінг з краваткою-метеликом з мастики</a>
</li>
<li>
<a href="/uk/korporativnyi-tort-na-novyi-god-3-gotovye-idei/">Майстер-клас: корпоративний торт на Новий рік &#8211; 3 готові ідеї</a>
</li>
</ul>
</div>
</aside>