<aside id="secondary" class="widget-area">
<div id="search-2" class="widget widget_search">
<form role="search" method="get" class="search-form" action="/uk/">
<label>
<span class="screen-reader-text">Пошук:</span>
<input type="search" class="search-field" placeholder="Пошук &hellip;" value="" name="s" />
</label>
<input type="submit" class="search-submit" value="Знайти" />
</form>
</div>

<div id="recent-posts-2" class="widget widget_recent_entries">
<h3 class="widget-title">Останні статті</h3>
<ul>
{% for post in collections.recentUk %}
<li>
<a href="{{ post.url }}">{{ post.data.title }}</a>
</li>
{% endfor %}
</ul>
</div>
</aside>